@charset "UTF-8";

.profile {
    /* width: 40%; */
    -webkit-background-size: cover;
    background-size: cover;
    background-color: var(--bg-color);
    height: 100%;
    top: 0;
    left: 0;
    /* position: fixed; */
    z-index: 4;
    /* border-right: 1px solid var(--border-color); */
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.profile .logo-title {
    text-align: center;
    /* padding-top: 240px; */
    padding-top: 180px;
    flex: 1;
}

.profile .logo-title .description {
    font-size: 14px;
}

.profile .logo-title .logo {
    margin: 0 auto;
}

.profile .logo-title .title img {
    width: 127px;
    border-radius: 50%;
}

.profile .logo-title .title h3 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1;
    margin: 1em;
}

.profile .logo-title .title a {
    text-decoration: none;
    color: var(--heading-color);
    font-size: 2rem;
    font-weight: bold;
}

.profile .social-links {
    list-style: none;
    padding: 0;
    font-size: 14px;
    text-align: center;
    flex: 7;
}

.profile .social-links i {
    margin-right: 3px;
}

.profile .social-links li {
    display: inline;
    padding: 0 4px;
    line-height: 0;
}

.profile .social-links a {
    color: var(--heading-color);
}

.profile .social-links a:hover {
    color: #2660ab;
}

@media screen and (max-width: 960px),
print {
    .profile {
        width: 100%;
        position: absolute;
        border-right: none;
        z-index: 1;
    }

    .profile .logo-title {
        padding-top: 120px;
    }

    .profile .logo-title .title img {
        width: 100px;
    }

    .profile .logo-title .title h3 {
        font-size: 20px;
    }
}

@media (min-width: 1921px){
    .profile {
        padding-left: 15%;
        width: 25%;
    }
}
